/* .ring{
    width: 200px;
    height:200px;
    border: 0px solid #000;
    border-radius: 5px;
    position: absolute;

}
.ring:nth-child(1){
    border-bottom-width:8px;
    border-color: rgb(255,255,255);
    animation:2s linear infinite ;
} */
.container {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    
   
  }
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
img{
  
    border-radius: 50%;

    width: 120px;
    height: 120px;
   

    
     
}